# --- SECURITE : Contenus Perso ---
*.mp4
*.avi
*.mov
*.mkv
# On ignore les photos de test, mais on garde mask.png (l'avatar)
test_*.png
test_*.jpg

# --- SYSTEME : Fichiers lourds et inutiles ---
venv/
__pycache__/
*.pyc
.DS_Store
.env
